<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
     http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
     ">

    <mvc:annotation-driven />

   <!-- <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date" value="com.gome.framework.util.propertyeditor.DateEditor" />
                <entry key="java.math.BigDecimal" value="com.gome.framework.util.propertyeditor.BigDecimalEditor" />
                <entry key="java.util.Map" value="com.gome.framework.util.propertyeditor.StringMapEditor"/>
                <entry key="java.util.List" value="com.gome.framework.util.propertyeditor.StringListEditor"/>
            </map>
        </property>
    </bean>-->

    <aop:aspectj-autoproxy />
    <context:component-scan base-package="com.pp" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="configLocation" value="classpath:velocity.properties" />
       <!-- <property name="resourceLoaderPath" value="/WEB-INF/views/" />-->
       <!--  <property name="resourceLoaderPath" value="/WEB-INF/templates/" />-->
        <property name="resourceLoaderPath" value="/page/" />
    </bean>

    <bean class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <!--<property name="viewClass" value="com.gome.framework.web.VelocityLayoutView" />-->
       <!-- <property name="toolboxConfigLocation" value="classpath:velocity-tools.xml" />  识别不了，要放在WEB-INF下-->
         <property name="toolboxConfigLocation" value="/WEB-INF/velocity-tools.xml" />
        <!--<property name="prefix" value="/" />-->
        <property name="suffix" value=".vm" />
        <property name="layoutUrl" value="common/layout/default.vm" />
        <property name="layoutKey" value="layout" />
        <property name="screenContentKey" value="screen_content" />
        <property name="contentType" value="text/html;charset=UTF-8" />

        <property name="allowRequestOverride" value="true" />
        <property name="exposeRequestAttributes" value="true" /> <!--是否开放request属性-->
        <property name="exposeSessionAttributes" value="true" /> <!--是否开放session属性-->
        <property name="requestContextAttribute" value="request"/> <!--request属性引用名称-->
    </bean>


  <!--  <bean class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        &lt;!&ndash;<property name="viewClass" value="com.gome.framework.web.VelocityLayoutView" />&ndash;&gt;
        <property name="toolboxConfigLocation" value="classpath:velocity-tools.xml" />
        &lt;!&ndash;<property name="prefix" value="page/" />&ndash;&gt;&lt;!&ndash;resourceLoaderPath已设置，这个prefix就不用设置了&ndash;&gt;
        <property name="suffix" value=".vm" />
        <property name="contentType" value="text/html;charset=UTF-8" />

        <property name="allowRequestOverride" value="true" />
        <property name="exposeRequestAttributes" value="true" /> &lt;!&ndash;是否开放request属性&ndash;&gt;
        <property name="exposeSessionAttributes" value="true" /> &lt;!&ndash;是否开放session属性&ndash;&gt;
        <property name="requestContextAttribute" value="request"/> &lt;!&ndash;request属性引用名称&ndash;&gt;
    </bean>-->


   <!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        &lt;!&ndash; <property name="interceptors"></property> &ndash;&gt;
    </bean>-->

   <!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="webBindingInitializer">
            <bean class="com.gome.framework.web.ConfigurableWebBindingInitializer">
                <property name="propertyEditors">
                    <map>
                        <entry key="byte[]" value="org.springframework.web.multipart.support.ByteArrayMultipartFileEditor" />
                        <entry key="java.lang.String" value="com.gome.framework.util.propertyeditor.StringTrimmerEditor" />
                        <entry key="java.lang.String[]" value="com.gome.framework.util.propertyeditor.StringArrayPropertyEditor" />
                        <entry key="java.util.Date" value="com.gome.framework.util.propertyeditor.DateEditor" />
                        <entry key="java.math.BigDecimal" value="com.gome.framework.util.propertyeditor.BigDecimalEditor" />
                    </map>
                </property>
                <property name="validator" ref="_validator" />
            </bean>
        </property>
        &lt;!&ndash; <property name="customArgumentResolvers"></property> &ndash;&gt;
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="writeAcceptCharset" value="false" />
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/html;charset=utf-8</value>
                            <value>text/plain;charset=utf-8</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                    <property name="objectMapper" ref="_jacksonObjectMapper" />
                </bean>
            </list>
        </property>
    </bean>-->

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" />
        <property name="maxUploadSize" value="52428800" /><!-- 1024 * 1024 * 1 = 1m   50M-->
        <property name="maxInMemorySize" value="8192" /><!-- 1024 * 8 = 8k -->
    </bean>

    <mvc:default-servlet-handler/>

</beans>